body {
  font-family: Arial, Helvetica, sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

footer {
  position: fixed;
  z-index: 2;
}

p {
  color: var(--dark-grey);
}

h3 {
  font-size: 2rem;
  color: var(--color-primary);
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profile__picture {
  max-width: 18rem;
  height: auto;
}
