body {
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  position: fixed;
  z-index: 2;
}

p {
  color: var(--dark-grey);
}

h3 {
  font-size: 2rem;
  color: var(--color-primary);
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.profile__picture {
  max-width: 18rem;
  height: auto;
}
