.container {
  width: 100%;
}

.container__fluid {
  max-width: 1200px;
  padding: 0 2rem;
  margin: auto;
}

.color-primary {
  color: var(--color-primary);
}

.color-secondary {
  color: var(--color-secondary);
}

.color-dark {
  color: var(--dark);
}

.color-light {
  color: var(--light);
}

.bg-primary {
  background-color: var(--light-dark);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-dark {
  background-color: var(--dark);
}

.bg-light {
  background-color: var(--light-dark);
}

.bg-white {
  background-color: white;
}

.text-white {
  color: var(--white);
}
