.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex--center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pt-1 {
  padding-top: 3rem;
}

.pb-1 {
  padding-bottom: 3rem;
}

.display-block {
  display: block;
}

.hide-block {
  display: none;
}

.icon--active {
  fill: hotpink;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
