.btn {
  padding: 1rem 2rem;
  font-size: 1.3rem;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  transition: 0.3s;
  color: var(--color-primary);
}

.btn:hover {
  background-color: var(--color-primary);
  color: white;
}
