.card {
  max-width: 800px;
  border: 3px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 6px 8px 3px #888;
  padding: 3rem;
  position: relative;
  transition: 0.4s ease-in-out;
}

.main-card {
  max-width: 800px;
  border: 3px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 6px 8px 3px #888;
  padding: 3rem;
  position: relative;
}

.card__bookmark {
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: -1rem;
  right: 2rem;
  transition: 0.3s;
  cursor: pointer;
}

.card__bookmark:hover {
  filter: hue-rotate(90deg) brightness(2);
}

.card__bookmark--active {
  filter: hue-rotate(90deg) brightness(2);
}

[data-js='answer-container'] {
  transition: 0.4s;
  display: none;
}

.answer-display {
  display: block;
}

.card--active {
  min-height: 600px;
}
