.card {
  max-width: 800px;
  border: 3px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 6px 8px 3px #888;
  padding: 3rem;
  position: relative;
  transition: 0.4s ease-in-out;
  margin-bottom: 80px;
}

.main-card {
  max-width: 800px;
  border: 3px solid #ccc;
  border-radius: 8px;
  box-shadow: 2px 6px 8px 3px #888;
  padding: 3rem;
  position: relative;
}

.card__bookmark__button {
  width: 4rem;
  height: 4rem;
  top: -2rem;
  right: 2rem;
  position: absolute;
  transition: 0.3s;
  cursor: pointer;
  background-color: white;
  border: 8px white solid;
}

.card__bookmark__button:hover,
.card__bookmark__button:active,
.card__bookmark__button:focus,
.card__bookmark__button:focus-visible {
  filter: hue-rotate(90deg) brightness(2);
}

.card__bookmark__button--active {
  filter: hue-rotate(90deg) brightness(2);
}

[data-js='answer-container'] {
  transition: 0.4s;
  display: none;
}

.answer-display {
  display: block;
}

.card--active {
  min-height: 600px;
}
