.headline {
  font-size: 1.5rem;
  color: lightslategray;
  animation: fade-up 500ms ease-in-out forwards;
  opacity: 0;
  transform: translateY(50%);
}

@keyframes fade-up {
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.about-headline {
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  color: var(--color-primary);
  line-height: 1;
}

.about-headline__thin {
  font-weight: 200;
}

.about-headline::after {
  content: '';
  position: relative;
  width: 3rem;
  border-bottom: 3px solid var(--light-grey);
  padding: 0.1rem;
  display: block;
}
