.icon {
  width: 45px;
  height: 45px;
  transition: 0.1s ease-in-out;
}

.icon-button {
  background-color: var(--color-primary);
  border: none;
}

.icon:hover {
  fill: orange;
  transform: translateY(-5px);
}
