nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: var(--color-primary);
}

.nav {
  max-width: 800px;
  display: flex;
  justify-content: space-evenly;
  height: 80px;
  align-items: center;
  margin: auto;
  background-color: var(--color-primary);
}

.nav a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.4s;
}

.nav a:hover {
  filter: invert(0.5) sepia(1) hue-rotate(200deg);
}

.nav--active {
  filter: invert(0.9) sepia(1) hue-rotate(200deg);
}

.nav button {
  cursor: pointer;
  fill: white;
}
